


# Backend & Framework
Flask
Werkzeug

# Databases
psycopg2-binary
pymongo

# Machine Learning & Data Processing
scikit-learn
pandas
numpy

# Data Visualization
seaborn
plotly

# Natural Language Processing (Pharmabot)
spacy
fuzzywuzzy
python-Levenshtein
tracery
